<div class="footer">
    <div class="content">
        <div class="admission">
            <div class="logo">
                <img src="../../assets/Header/School_Logo.jpeg" alt="School_Logo">
            </div>
            <div class="desc">
                <p>Little Champs Offers holistic & hands-on education for children between 2 - 6 years.</p>
            </div>
            <div class="enroll">
                <button>Enroll Now</button>
            </div>
        </div>
        <div class="contact">
            <div class="follow">
                <p>Follow Us Here --- ></p>
                <p><i class="fa-brands fa-instagram icon"></i></p>
            </div>
            <div class="phone">
                <p>+91-9344326950</p>
            </div>
            <div class="email">
                <a href="mailto:lilboatslearning@gmail.com"><p>lilboatslearning&#64;gmail.com</p></a>
            </div>
            <div class="address">
                <p>B18, Vidyasagar Street,</p>
                <p>Gandhi Nagar PO, Udumalpet - 642 154</p>
            </div>
        </div>
    </div>
    <div class="cc-line">
        <p>&#169; 2024 LITTLE CHAMPS</p>
    </div>
</div>